.Clicker-dark{

    background-color: black;
}

.Clicker-light{


    background-color: azure;
}

.Clicker-dark button {

    background-color: whitesmoke;
}

.Clicker-light button {

    background-color: brown;
}